<!DOCTYPE html>
<html lang="en">
{% load humanize %}
{% load static %}
<head>
    <style type="text/css">
        @page {
            size: a4;
            margin: 1cm;
        }

        .table {
            border: 0.5px solid #ababab;
            text-align: center;
            table-layout: fixed;
            margin-bottom: 5px;
        }

        .table tr td {
            white-space: nowrap;
        }

        .table th {
            padding: 5px;
            vertical-align: top;
            background-color: #e8e8e8;
        }

        .table td {
            padding: 5px;
            vertical-align: top;
            -pdf-keep-with-next: false;
            overflow: hidden;
            text-overflow: ellipsis;


        }
    </style>
</head>

<body>
<table>

    <div class="ui segment itemscard">
        <div class="content">
          <table >
          
            <tbody>
              <tr>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:900; font-size:20px;color: black" width="170">
                  <img id="logo" style="border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px;" src="/media/logo2.png">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:18px">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:18px;color: black">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:18px;color: black">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:18px;color: black">
                </td>
                <td class="text-left" align="center" style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:18px;color: black" width="300">
                  <div><span class="mono">{{ hospital.name }}</span></div>
                  <div><span class="mono">{{ hospital.address }}</span></div>
                  <div><span class="mono">Tel: {{ hospital.phone }}</span></div>
                  <div><span class="mono">Email: {{ hospital.email }}</span></div>
                </td>
                
              </tr>
            </tbody>
          </table>
      
        </div>
      </div>
      <br>
    
</table>
<div class="info-box">
        <div class="info-row">
            <table class="table">
                <tr>
                    <td class="info-label">{% if lang == 'fr' %} PERIODE DU {% else %} PERIOD FROM {% endif %}: {{ start_date }}</td>
                    <td class="info-label">{% if lang == 'fr' %} AU {% else %} TO {% endif %} : {{ end_date }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
<table>
<tr>
    {% if lang == 'fr' %}
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" align="center" colspan="2">LISTE DES MOUVEMENTS DE CAISSE</td>
  {% else %}
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" align="center" colspan="2">CASH MOVEMENTS LIST</td>

  {% endif %}
</tr>
</table>
<table class="table">
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:15px;" 
            align="left">{% if lang == 'fr' %} MONTANT TOTAL ENTREE {% else %} TOTAL ENTRY AMOUNT {% endif %}: {{ sum_total_in|intcomma }}</td>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:15px;" 
            align="left">{% if lang == 'fr' %} MONTANT TOTAL SORTIE {% else %} TOTAL EXIT AMOUNT {% endif %}: {{ sum_total_out|intcomma }}</td>
    </tr>
    </table>
<table class="table">
    <thead>
        {% if lang == 'fr' %}
    <tr>
        <th style="color: black">Code</th>
        <th style="color: black">Cassier</th>
        <th style="color: black">Type</th>
        <th style="color: black">Motifs</th>
        <th style="color: black">Montant</th>
        <th style="color: black">Date du mouvement</th>
    </tr>
    {% else %}
            <tr>
        <th style="color: black">Code</th>
        <th style="color: black">Casher</th>
        <th style="color: black">Type</th>
        <th style="color: black">Reason</th>
        <th style="color: black">Amount</th>
        <th style="color: black">Date</th>
    </tr>
            {% endif %}
    </thead>
    <tbody>
    {% for result in final_result %}

        <!-- Header Nature -->
        <tr>
            <td colspan="6"
                style="font-family:Verdana, Geneva, sans-serif;
                       font-weight:700;
                       font-size:14px;
                       background:#f2f2f2;
                       padding:8px;">
                {{ result.nature_name }}
            </td>
        </tr>

        <!-- Total -->
        <tr>
            <td colspan="6"
                style="font-family:Verdana, Geneva, sans-serif;
                       font-weight:600;
                       font-size:12px;
                       padding:5px;">
                Total : {{ result.total }}
            </td>
        </tr>

        <!-- Movements -->
        {% for stock_movement in result.movements %}

        <tr style="text-align:center">

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ stock_movement.code }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ stock_movement.username }}
            </td>

            {% if stock_movement.type == 'EXIT' %}
                <td class="td"
                    style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                    {% if lang == 'fr' %} SORTIE {% else %} EXIT {% endif %}
                </td>
            {% else %}
                <td class="td"
                    style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                    {% if lang == 'fr' %} ENTREE {% else %} ENTRY {% endif %}
                </td>
            {% endif %}

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px; text-align:left;">
                {{ stock_movement.motive }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ stock_movement.amount }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ stock_movement.createdAt }}
            </td>

        </tr>

        {% endfor %}

    {% endfor %}
</tbody>
</table>
<br>
<table>
<tr>
    {% if lang == 'fr' %}
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" align="center" colspan="2">LISTE DES REGLEMENTS CLIENTS</td>
  {% else %}
    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" align="center" colspan="2">CLIENTS SETTLEMENT LIST</td>

  {% endif %}
</tr>
</table>
<table class="table">
    <tr>
        
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;" 
            align="left">{% if lang == 'fr' %}TOTAL PAYE {% else %} TOTAL PAID {% endif %}: {{ sum_paid|intcomma }}</td>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;" 
            align="left">{% if lang == 'fr' %}TOTAL REMBOURSSEMENT{% else %} TOTAL REFUND {% endif %}: {{ sum_refund|intcomma }}</td>
    </tr>
</table>
    <table class="table">
    <tr>
        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;" 
            align="left">{% if lang == 'fr' %}TOTAL ESPECE {% else %} TOTAL CASH {% endif %}: {{ sum_cash|intcomma }}</td>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;" 
            align="left">{% if lang == 'fr' %}TOTAL OM {% else %} TOTAL OM {% endif %}: {{ sum_om|intcomma }}</td>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;" 
            align="left">{% if lang == 'fr' %}TOTAL MOMO {% else %} TOTAL MOMO {% endif %}: {{ sum_momo|intcomma }}</td>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:12px;" 
            align="left">{% if lang == 'fr' %} TOTAL PREPAYE {% else %} TOTAL PREPAID {% endif %}: {{ sum_prepaid|intcomma }}</td>
    </tr>
    </table>
<table class="table">
    <thead>
        {% if lang == 'fr' %}
    <tr>
        <th style="color: black">Code</th>
        <th style="color: black">Client</th>
        <th style="color: black">Montant Total</th>
        <th style="color: black">Montant espece</th>
        <th style="color: black">Montant OM</th>
        <th style="color: black">Montant MOMO</th>
        <th style="color: black">Montant prepaye</th>
        <th style="color: black">Remboursement</th>
        <th style="color: black">Date</th>
    </tr>
    {% else %}
            <tr>
        <th style="color: black">Code</th>
        <th style="color: black">Client</th>
        <th style="color: black">Total paid</th>
        <th style="color: black">Cash Amount</th>
        <th style="color: black">OM Amount</th>
        <th style="color: black">MOMO Amount</th>
        <th style="color: black">Prapaid Amount</th>
        <th style="color: black">Refund</th>
        <th style="color: black">Date</th>
    </tr>
            {% endif %}
    </thead>

        <tbody>
    {% for result in final_settlements %}

        <!-- Header Nature -->
        <tr>
            <td colspan="9"
                style="font-family:Verdana, Geneva, sans-serif;
                       font-weight:700;
                       font-size:14px;
                       background:#f2f2f2;
                       padding:8px;">
                {{ result.location }}
            </td>
        </tr>

        <!-- Total -->
        <tr>
            <td colspan="9"
                style="font-family:Verdana, Geneva, sans-serif;
                       font-weight:600;
                       font-size:12px;
                       padding:5px;">
                Total : {{ result.total_amount_paid }}
            </td>
        </tr>

        <!-- Movements -->
        {% for settlement in result.bills %}

        <tr style="text-align:center">

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ settlement.code }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ settlement.patient_name }}
            </td>
<td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px; text-align:left;">
                {{ settlement.amount_paid|intcomma }}
            </td>
            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px; text-align:left;">
                {{ settlement.amount_cash|intcomma }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ settlement.amount_om|intcomma }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px; text-align:left;">
                {{ settlement.amount_momo|intcomma }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ settlement.amount_prepaid|intcomma }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ settlement.refund|intcomma }}
            </td>

            <td class="td"
                style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">
                {{ settlement.createdAt }}
            </td>

        </tr>

        {% endfor %}

    {% endfor %}
</tbody>

    <!-- <tbody>
    {% for settlement in settlements %}
        <tr style="text-align: center">
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.code }}</td>
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.patient_name }}</td>
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.amount_cash }}</td>
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.amount_om }}</td>
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.amount_momo }}</td>
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.amount_prepaid }}</td>
            <td class="td" style="font-family:Verdana, Geneva, sans-serif; font-size:8px;">{{ settlement.createdAt }}</td>
        </tr>

    {% endfor %}
    </tbody> -->
</table>
</body>

</html>